{% include 'header.html.twig' %}

<div class="container">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Surname</th>
            <th>University</th>
            <th>Department</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for key, student in students %}
            <tr>
                <td>{{key+1}}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.universityName }}</td>
                <td>{{ student.departmentName }}</td>
                <td><a href="index.php?controller=student&action=edit&id={{student.id}}">Edit</a> </td>
                <td><a href="index.php?controller=student&action=delete&id={{student.id}}">Delete</a></td>
            </tr>

        {% endfor %}
        <a href="index.php?controller=student&action=addNew" class="btn btn-primary" style="margin:10px;">Add new student</a>
</div>
</body>
</html>