{% include 'header.html.twig' %}

<div class="container">
    <form method="POST">
        <div class="row">
            <label for="name">Name:</label>
            <input class="form-control " type="text" name="name" value="{{ student.name }}">
        </div>
        <div class="row">
            <label for="surname">Surname:</label>
            <input class="form-control " type="text" name="surname" value="{{ student.surname }}">
        </div>
        <div class="row">
            <label for="email">Email:</label>
            <input class="form-control " type="text" name="email" value="{{ student.email }}">
        </div>
        <div class="row">
            <label for="telephone">Telephone:</label>
            <input class="form-control " type="text" name="telephone" value="{{ student.telephone }}">
        </div>
        <div class="row">
            <label for="department_id">Select department:</label>
            <select class="form-control" name="department_id">
                {% for department in departments %}
                <option value="{{ department.id }}">{{ department.name }} ({{ department.universityName }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <input class="btn btn-default" type="submit" value="Add">
        </div>
    </form>
</div>

</body>
</html>